/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none!important;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #ddd;  /* Lighter text color */
}

/* Cursor styles */
#cursor {
  display: none;
}

#stalker {
  display: none;
}

@media screen and (min-width: 960px) {
  #cursor {
    display: block;
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    pointer-events: none;
    background-color: rgb(151, 201, 250);
    transition: transform ease-out 70ms;
    z-index: 1000;
    animation: gradient-cursor 5s linear infinite;
  }

  @keyframes gradient-cursor {
    0% {
      background-color: #A2DDDF;
    }
    50% {
      background-color: #AAE2E4;
    }
    100% {
      background-color: #89D2DC;
    }
  }

  #stalker {
    display: block;
    position: fixed;
    margin-top: -15px;
    margin-left: -15px;
    width: 40px;
    height: 40px;
    background: #d5d5d522;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0px 0px 9px 10px #8eddff22;
    transition: transform ease-out 160ms;
    z-index: 999;
    animation: gradient-stalker 5s linear infinite;
  }

  @keyframes gradient-stalker {
    0% {
      background-color: rgba(244, 244, 213, 0.62);
    }
    50% {
      background-color: rgba(219, 232, 244, 0.62);
    }
    100% {
      background-color: rgb(231, 209, 247, 0.62);
    }
  }
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #1d1529; /* Darker background */
  padding: 0 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li:hover {
  padding: 0 0 5px 0;
  border-bottom: 3px solid rgb(157, 227, 255);
  box-shadow: rgba(166, 236, 250, 0) 0px 25px 20px -8px;
  transition: ease-in 0.2s;
}

li a {
  text-decoration: none;
  color: whitesmoke;  /* Light color text */
}

li a:hover {
  color: rgb(127, 221, 255);
  font-size: 1.05rem;
  padding: 5px;
  transition: ease-in 0.2s;
}

/* Header & Section 1 styles */
.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  background-color: #3c4a4a; /* Darker yellowish grey */
  padding: 40px 20px;
}

.first-section > div {
  width: 45%;
}

.left-section {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(48, 46, 46, 0.75); /* Darker background */
  padding: 25px;
  background: linear-gradient(45deg, rgba(53, 51, 107, 0.4) 0%, rgba(145, 145, 235, 0.4) 35%, rgba(22, 90, 96, 0.3));
  border-radius: 20px;
  color: #f1f1f1;  /* Lighter text */
}

.left-section .highlight {
  color: rgb(127, 221, 255);
}

.right-section img {
  width: 80%;
  border-radius: 4%;
  height: auto;
}

.first-section .highlight {
  font-weight: bold;
}

.first-section .left-section {
  margin-left: 25px;
}

/* Section 2 (Projects) */
.second-section {
  background-color: #472931; /* Darker pinkish grey */
  padding: 50px 20px;
  min-height: 100dvh;
}

.subtext {
  text-align: center;
  color:rgb(252 187 128);  
  font-size: 1.20rem;
  margin-bottom: 20px;
}

.second-section h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #f1f1f1; /* Lighter text */
}

.contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(48, 46, 46, 0.75); /* Darker background */
  background: linear-gradient(45deg, rgba(53, 51, 107, 0.4) 0%, rgba(145, 145, 235, 0.4) 35%, rgba(22, 90, 96, 0.3));
  text-align: center;
  color: #f1f1f1; /* Lighter text */
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-top: 10px;
}

.card p a {
  color: rgb(132, 170, 244);
  text-decoration: none;
}

.card:hover {
  background-color: #333;  /* Darker on hover */
  transition: background 0.5s ease-in-out;
}

/* Section 3 (About Me) */
.third-section {
  background-color: #304339; /* Darker reddish grey */
  padding: 50px 20px;
  min-height: 100dvh;
}

.third-section h1 {
  font-size: 2.2rem;
  margin: 20px auto;
  color: #f1f1f1; /* Lighter text */
}
.third-section-heading{
  text-align: center;
}

.content-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.third-left {
  background: linear-gradient(45deg, rgba(53, 51, 107, 0.4) 0%, rgba(145, 145, 235, 0.4) 35%, rgba(22, 90, 96, 0.3));
  width: 48%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
  color: #f1f1f1; /* Lighter text */
}

.third-left .greeting {
  font-size: 1.5rem;
  margin: 25px auto 10px;
}

.details {
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: normal;
}

.third-right {
  background: linear-gradient(0deg, rgba(231, 231, 237, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  width: 45%;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.third-right img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Section 4 (Contact) */
.fourth-section {
  background-color: #445d50; /* Darker reddish grey */
  color: white;
  height: 100dvh;
  padding: 50px 20px;
}

.container {
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f1f1f1; /* Lighter text */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 10px 30px;
  padding:5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 25%;
}

/* Ensuring images inside social-icons are 50px by 50px with 15% border radius */
.social-icons a img {
  width: 40px;
  height: 40px;
  border-radius: 15%; /* Applying 15% border radius */
}

.email-link {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #ffe6b7;
  text-decoration: none;
}

.download-btn {
  display: block;
  margin: 20px auto;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #fff;
  color: #333;
}

/* Responsive Design */
@media only screen and (max-width: 1050px) {
  nav {
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 36, 59, 0.788);
    width: 100%;
    top: 0;
    left: 0;
    height: fit-content;
    z-index: 1000;
    padding: 15px 0;  /* Add some padding */
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav .left {
    display: none;
  }

   .right-section {
    width: 100%;
    text-align: center;
  }
  .right-section img{
  
    margin: 0 auto;
  }

  /* Left Section Adjustments */
  .left-section {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    font-size: 1.3rem;  /* Adjust text size for better readability */
    text-align: center;
  }

  .left-section .highlight {
    font-size: 1.5rem;  /* Larger highlight text for mobile */
  }

  /* Section 2 (Projects) */
  .second-section {
    width: 100%;  /* Full width */
    padding: 20px;
  }

  .subtext {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .second-section h1 {
    text-align: center;
    font-size: 2rem;  /* Adjust font size for smaller screens */
    margin-bottom: 40px;
  }

  .contents {
    display: flex;
    flex-direction: column;  /* Stack cards vertically */
    justify-items: center;
  }

  .card {
    width: 100%;  /* Ensure cards take full width */
    padding: 20px;
    margin: 10px 0;  /* Add vertical margin between cards */
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Section 3 (About Me) */
  .third-section {
    width: 100%;  /* Full width */
    padding: 20px;
  }

  .third-section h1 {
    font-size: 2rem;  /* Adjust font size for smaller screens */
    margin-bottom: 20px;
  }

  .content-about {
    flex-direction: column;  /* Stack the about section elements vertically */
    align-items: center;
  }

  .third-left, .third-right {
    width: 100%;  /* Ensure these elements take up full width */
    margin: 10px 0;
    padding: 15px;  /* Adjust padding for mobile */
  }

  .third-left .greeting {
    font-size: 1.5rem;
    margin: 25px auto 10px;
  }

  .third-left {
    font-size: 1.1rem;
  }

  .details {
    font-size: 1rem;
    line-height: 1.6;
  }

  .third-right img {
    width: 100%;  /* Ensure images scale properly */
    height: auto;
    border-radius: 15px;
  }

  /* Section 4 (Contact) */
  .fourth-section {
    background-color: #445d50;
    padding: 20px;
  }

  .container {
    width: 100%;  /* Ensure container takes full width */
    padding: 20px;
  }

  .container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
    margin-bottom: 20px;
  }

  .social-icons a {
    margin: 0 10px;
    width: 50px;  /* Increase icon size for mobile */
    height: 50px;
    font-size: 1.5rem;  /* Increase icon font size */
  }

  /* Email Link */
  .email-link {
    font-size: 1rem;
    margin-top: 20px;
    text-decoration: none;
  }

  /* Download Button */
  .download-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
  }
}

/* Additional Styles for Very Small Screens (Mobile-first) */
@media only screen and (max-width: 600px) {
  .first-section {
    flex-direction: column;
    padding: 20px;
  }

  .first-section > div {
    width: 100%;
    margin-bottom: 20px;
  }

  .first-section .left-section {
    padding: 15px;
    text-align: center;
  }

  .third-left, .third-right {
    width: 100%;
    padding: 15px;
  }

  .third-left {
    font-size: 1rem;
  }

  .third-section h1 {
    font-size: 1.8rem;
  }

  .card {
    width: 100%;
    margin: 15px 0;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1rem;
  }

  .email-link {
    font-size: 1rem;
  }

  .download-btn {
    font-size: 1rem;
    padding: 12px 20px;
  }
}
