* {
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
 }

body {
  background: linear-gradient(45deg, #aa6e25, #2e1948, #3d547a);
	background-size: 150% 150%;
	animation: gradient-animation 5s ease infinite;
    font-family: josefin sans;
    color: whitesmoke;

}
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(37, 20, 89, 0.982);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

li a {
    text-decoration: none;
    color: whitesmoke;
}

li a:hover {
    color: rgb(127, 221, 255);
    font-size: 1.05rem;
    transition: ease-in 0.1s;
}

.left {
    font-size: 2rem;
    font-weight: bold;

}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    max-height: fit-content;
    /* margin: 20px 0; */
}

.first-section>div {
    width: 40%;
}

.left-section {
    font-size: 3rem;
    margin: 100px 0 0 25px;
    padding: 25px;
    background-color: rgba(48, 46, 46, 0.171);
    background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.197) 35%, rgba(22, 90, 96, 0.1741946778711485) 100%);
    /* max-width: fit-content; */
    border-radius: 20px;

}

.left-section div {
    margin-top: 25px;
}

.right-section img {
    width: 80%;
    height: 80%;
    margin: 50px 0 0 25px;
}

.highlight {
    color: rgb(127, 221, 255);
}

.second-section {
    max-width: 90vw;
    min-height: 90vh;

    margin: auto;
}

 .subtext {
    margin: 5px 0;
    padding: 2px;
    color: rgb(172, 165, 165);
}

.second-section h1 {
    font-size: 2.2rem;
}

.contents {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card {
    margin:20px auto;
    width: 20vw;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(48, 46, 46, 0.171);
    background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.197) 35%, rgba(22, 90, 96, 0.1741946778711485) 100%);



}
.card h3{
    margin: 5px auto;
}
.card p{
    margin-top: 10px;
}
.card p a{
 text-decoration: none;
 color:rgb(132, 170, 244);
 }
 @keyframes color {
    0%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 10%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    25%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 35%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    40%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 45%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    55%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 55%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    75%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 70%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    85%   {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 85%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
    100% {     background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.297) 95%, rgba(22, 90, 96, 0.1941946778711485) 100%);
    }
  }

#animate{
    animation: color 1s infinite linear;

}
.third-section{
    
    max-width: 90vw;
    min-height: 90vh;
    margin: auto;
}
.third-section h1{
    font-size: 2.2rem;
   
}
.content-about {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    
}
.third-left{
    background: linear-gradient(45deg, rgba(53, 51, 107, 0.201) 0%, rgba(145, 145, 235, 0.197) 35%, rgba(22, 90, 96, 0.1741946778711485) 100%);
    width: 35vw;
    height: 60vh;
    margin: 50px 0 0 25px;
    padding: 20px;
    border-radius: 20px;
}
.greeting{
    font-size: 1.5rem;
    margin: 25px auto 10px auto;
}
.details{
    font-size: 1.2rem;
    font-stretch: expanded;
    line-height: 30px;
    height: fit-content;
}
a{
    text-decoration: none;
 color:rgb(132, 170, 244);
}
.third-right{
    width: 40vw;
    height: 60vh;
    margin: 60px 0 0 320px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(231, 231, 237, 0.201) 0%,  rgba(0, 0, 0, 0) 100%);
}
.third-right img{
    width: auto;
    height: 100%;
    margin: 0 0 20px 40px;
}


.container {
    max-width: 80vw;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.container  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
  }


  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .social-icons a img {
    max-width: 100%;
    max-height: 100%;
  }

 

  .email-link {
    display: block;
    text-align: center;
    color: #5f5858;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
  }
  .download-btn {
    display: block;
    text-align: center;
    margin:20px auto 10px auto;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .download-btn:hover {
    background-color: #fff;
    color: #333;
  }
 
 

/* Styles for small screens */
@media only screen and (max-width: 1050px) {
    *{
        overflow-x: hidden;
    }
  
      nav{
        text-align: center;
        position: fixed;
        background-color: rgb(37, 20, 89);

        top: 0;
        right: 0;
        width: 100%;
      }
      body{
        background-color: #3f316c;
        background-size: 100% 100%;

      }
      .right,.right-section{
        display: none;
      }
      .left-section{
        min-width:fit-content;
       margin: 40px  5px 20px 5px;

      }
      .second-section{
        text-align: center;
        height: auto;
      }
      .third-section{
        display: flex;
        text-align: center;
        flex-direction: column;
 
        height: auto;
      }
      .card ul li{
        list-style: square;
       
      }
      .content-about{
        display: flex;
       flex-wrap: wrap;
        flex-direction: column;
       margin: 20px -10px;

      }
    
      .third-left{
        box-sizing: border-box;
        width: 94vw;
        min-height: fit-content;
        margin: 10px 5px;
        padding: 5px;
        overflow: scroll;
      }
      .third-left details{
        width: 80%;
        height: auto ;
        
      }
      .third-right{
        width: auto;
    height: auto;
    margin: 60px 0 0 0;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(231, 231, 237, 0.201) 0%, rgba(0, 0, 0, 0) 100%);
      }
      .third-right img{
       width: 400px;
       height: 450px;
      }


      
}